# Segundo Trabalho - PSO (Ritika)

## 0. Introdução

### 0.1. Algoritmo da Otimização por Enxame de Partículas (PSO)

## 2. Implementação

### 2.1 Bibliotecas utilizadas

In [1]:
import sys
from random import random
from random import seed
import pandas as pd

### 2.2 Classe Partícula

In [2]:
class Particle:
    def __init__(self, n, f, w):
        # upper and lower bounds
        ub = [0, 0, 0]
        lb = [10, 10, 10]
        
        self.n = n                       # number of variables
        self.x = [round(lb[j] + random() * (ub[j]-lb[j])) for j in range(n)] # current position
        self.pbest = self.x              # best position
        self.f = f                       # objective funct
        self.w = w                       # inertia weight
        self.y = self.f(*self.x)         # fitness value
        self.v = [x*0.1 for x in self.x] # velocity
        
    def calculate_x(self, v):
        new_x = []
        for i in range(len(self.x)):
            new_x.append(self.x[i] + v[i])
        self.x = new_x
        self.y = self.f(*self.x)
    
    def calculate_v(self, w, c, gbest):
        new_v = []
        for i in range(len(self.v)):
            new_v.append(w["max"]*self.v[i] + c[0]*random()*(self.pbest[i]-self.x[i]) + c[1]*random()*(gbest.x[i]-self.x[i]))
        self.v = new_v

### 2.3 Classe PSO

In [3]:
class PSO:
    def __init__(self, funct, n_var, n_pop, wmax, wmin, c, maxis):
        self.funct = funct # objective funct
        self.n_var = n_var # number of variables
        self.n_pop = n_pop # population size
        self.w     = {     # inertia weight
            "max": wmax,
            "min": wmin
        }
        self.c     = c     # acceleration factor
        self.maxis = maxis # maximum iteration size
        self.popul = []    # population
        self.gbest = None  # global best particle
        
    def initialize(self):
        self.popul = [Particle(self.n_var, self.funct, self.w) for _ in range(self.n_pop)]
        min_y = min([particle.y for particle in self.popul])
        for particle in self.popul:
            if particle.y == min_y:
                self.gbest = particle
                
    def evaluate_pbest(self, particle):
        if self.funct(*particle.x) < self.funct(*particle.pbest):
            particle.pbest = particle.x
    
    def evaluate_gbest(self):
        # calculate fitness for each particle
        # choose particle with best fitness value as gbest
        for particle in self.popul:
            if particle.y < self.gbest.y:
                self.gbest = particle
                
    def first_movement(self):
        # calculate velocity and position for each particle
        for particle in self.popul:
            particle.calculate_x(particle.v)
            # select pbest for current particle
            self.evaluate_pbest(particle)
        self.evaluate_gbest()

    def update(self):
        # calculate velocity and position for each particle
        for particle in self.popul:
            particle.calculate_v(self.w, self.c, self.gbest)
            particle.calculate_x(particle.v)
            # select pbest for current particle
            self.evaluate_pbest(particle)
        self.evaluate_gbest()
    
    def run(self):
        for i in range(self.maxis-1):
            self.update()
    
    def display_population(self):
        dict_popul = dict((x,[]) for x in [f"x{i}" for i in range(self.n_var)])
        dict_popul["y"] = []
        for particle in self.popul:
            for i in range(self.n_var):
                dict_popul[f"x{i}"].append(particle.x[i])
            dict_popul["y"].append(particle.y)
        return pd.DataFrame(dict_popul)
    
    def display_gbest(self):
        dict_gbest = dict((x,[]) for x in [f"x{i}" for i in range(self.n_var)])
        for i in range(self.n_var):
            dict_gbest[f"x{i}"].append(self.gbest.x[i])
        dict_gbest["y"] = self.gbest.y
        return pd.DataFrame(dict_gbest)

## 3. Execução

### 3.1 Inicialização

In [4]:
# objective funct for this problem
f = lambda x0, x1, x2: 10*(x0-1)**2 + 20*(x1-2)**2 + 30*(x2-3)**2

# instantiate a PSO object
p = PSO(f, 3, 5, .9, .4, [2,2], 50)
p.initialize()
p.display_population()

   x0  x1  x2     y
0   5   8   8  1630
1   5   5   3   340
2   7   2   8  1110
3   3   1   6   330
4   2   2   2    40

In [5]:
# moving particles for the first time

p.first_movement()
p.display_population()

    x0   x1   x2       y
0  5.5  8.8  8.8  2136.5
1  5.5  5.5  3.3   450.2
2  7.7  2.2  8.8  1458.9
3  3.3  1.1  6.6   457.9
4  2.2  2.2  2.2    34.4

In [6]:
# gbest so far

p.display_gbest()

    x0   x1   x2     y
0  2.2  2.2  2.2  34.4

### 3.3 Cálculo da velocidade e posição

In [7]:
# updating velocity and position for each particle

p.update()
p.display_population()

         x0        x1        x2           y
0  2.616010  0.255946  1.406585  163.118525
1  5.116070  1.479158  1.717721  224.172961
2  7.738502  2.235102 -0.584568  840.653448
3  3.049874  1.893709  2.632516   46.297130
4  2.380000  2.380000  2.380000   33.464000

In [8]:
p.display_gbest()

     x0    x1    x2       y
0  2.38  2.38  2.38  33.464

### 3.4 Iterações Restantes

In [9]:
p.run()
p.display_population()

          x0         x1         x2             y
0 -12.291720  11.390103   1.618573   3587.429182
1   3.825853 -10.263350  -6.460885   5772.900000
2  56.716554   7.644861 -31.714446  67833.416829
3  -2.619048   2.921516   1.231086    241.830638
4   1.123117   2.113621   3.097237      0.693424

In [10]:
p.display_gbest()

         x0        x1        x2         y
0  1.123117  2.113621  3.097237  0.693424